@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ff5d02;
  --color-secondary: #33A851;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #fff !important;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  padding: 100px 0;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 15px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

.paper {
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.paper .root {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.voltar {
  font-size: small;
  width: 100%;
  color: var(--color-primary);
  font-weight: 500;
  margin-bottom: 1rem;
}

.upload-control {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.upload-control .button {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.upload-control .button button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.select-input {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.swal2-container {
  z-index: 11E1E1E00000 !important;
}

.MuiFormHelperText-root.Mui-error {
  line-height: 1.25rem;
  font-size: 1em !important;
}

@media only screen and (min-width: 216px) and (max-width: 926px) {
  .MuiButtonBase-root {
    display: flex;
  }
}